.btn{
    margin: 10px 10px;
}

.jumbotron {
    padding: 1rem 4rem;
    background-color: #F8485E;
    color:#EEEEEE;
}

.labels{
    font-size: 30px;
}

.display-3{
    font-size: 50px;
    font-weight: bold;
    font-family: times;
}

.screen{
    background-color: #161616;
}